@model DemoAppSharePointMVCWeb.Models.Totales

@{
    Layout = null;
}


<table class="table table-striped">
    <h3>Total pedidos: @Model.Numero</h3>
    <h3>Total facturado: @Model.Total</h3>
    <h3>Por cliente: @Model.MediaCliente</h3>

</table>